body{
    color: #c7c7c7;
    background-color: black;
    font-family: 'neutra-bookalt';
}
@font-face{
    font-family:'neutra-bookalt';
    src: url('../fonts/NEUTRATEXT-BOOKALT.OTF') format('opentype'); 
 }
 .containerAdm{
    background-color: black;
    color: #c7c7c7;
    font-weight: bolder;
    height: 90vh;
    text-align: center;
}

.aAd{
    margin-top: 10px;
    border: solid;
    border-width: 1px;
    border-color: blueviolet;
    width: 30%;
    padding: 2em;
}

 
.aAd .btn{
    color: #c7c7c7;
    background: none;
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: blue;
    border-width: 1px;
    margin-bottom: 2em;
}
/*h1{
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: blueviolet;
    margin-top: 1em;
}*/
.aAd .btn:hover{
    font-size: 1.2em;
}

.aReturn{
    color: #c7c7c7;
    text-decoration: none;
    font-weight: bolder;
    font-size: 0.9em;
    margin-left: 1em;
      
}
.aReturn:hover{
    color: red;
    text-decoration: none;
    font-size: 1.1em;
}
