
.sectionAdmUser{
    border: solid;
    border-color: blueviolet;
    border-width: 1px;
    width: 100vw;
    margin-top: 2em;
    font-weight: 500;
    color:#c7c7c7;
}
.hrAdmUser{
    border:solid;
    border-width: 1px;
    border-color: blueviolet;
    margin-bottom: 1em;
    color:#c7c7c7;
}
.h1AdmUser{
    text-align: center;
    margin-top: 1em;
    margin-bottom:1em;
    color:#c7c7c7;
}
.tdAdmUser{
   padding: 0.4em;
   color:#c7c7c7;
}
.tdAdmUser a{
    color: #c7c7c7;
    text-decoration-color: blueviolet;
}
.trAdmUser{
    color:#c7c7c7;
}
.tdAdmUser a:hover{
    text-decoration: none;
    color: blueviolet;
}
.pagination{
    margin-left: 0.5vw;
    width: 1vw;
}
.eliminarAdmUser{
    background: none;
    color: #c7c7c7;
    border: none;
    height: 15px;
    text-align:left;
    margin: 0;
    font-size: 1em;
    font-weight: 400;
    text-transform: lowercase;
    padding: 0;
}

/* -- MODAL -- */
.flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botonModal{
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    padding: 10px;
    width: 170px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
}
.botonModal:hover{
    text-decoration: none;
    background: black;
    color: #c7c7c7;
}
.modalUser{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.contenidoModal{
    position: relative;
    background-color: white;
    margin: auto;
    width: 30%;
    box-shadow: 0 0 6px 0 rgba(0,0,0, 0.5);
    color: black;
    animation-name: modalModif;
    animation-duration: 1s;
}
@keyframes modalModif{
    from{top:-300px; opacity: 0;}
    to{top:0;opacity:1;}
    
}
.close{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}
.modal-head{
    background: gray;
    padding: 2px;
}

@media (max-width:532px){
    .sectionAdmUser{
        width: 95vw;
        font-size: .9em;
        color:#c7c7c7;
    }
}