.h3AdmUserShow{
    color: blueviolet;
    text-transform: uppercase;
}
.containerAdmUserShow{
    
    width: 80vw;
    margin-top: 2em;
    font-weight: 500;
    color:#c7c7c7;
}
.articleAdmUserShow{
    text-align: center;
}
.aAdmUserShow{
    color: #c7c7c7;
    text-decoration: none;
    margin-left: 5%;
    font-weight: bolder;
    border: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: blueviolet;
}
.article2AdmUserShow{
    display: flex;
    align-content: center;
    width: 50%;
}
.btnAdmUserShow{
    background: none;
    height: 2em;
}
.ddShowPerfil img{
    height: 80px;
}