.lineIcon {
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin-top: 6px;
    margin-left: 0px;
    margin-right: 0px;
  }

.botonLineas{
    background-color: black;
    width: 33px;
   
}
@font-face{
    font-family:'neutra-demialt';
    src: url('../fonts/NEUTRATEXT-DEMIALT.OTF') format('opentype');
}
.main_{
    width:100%;
}
.container_navBar{
    position: fixed;
    top: 0;
    z-index: 1000;
    background: #000;
    width: 100%;
    height: 76px;
    border-bottom: 4px solid #8400ff;
    display: flex;
    padding-top: 20px;
}

.logo{

    width: 75px;   
    margin-top: -12px;
}

.botonNavBar{
    width: 33px;
}

.container_NavBarVertical{
  display: none;
}
.help_Icon img{
    display: none;
}
.Perfil__{
    display:block;
    width:45px;
    margin: 0 auto;
    position: relative;
    top:-9px;
}
.Perfil__ img{
    width:100%;
    height:100%;
    border-radius: 50%;
}
/* --------------------------------MEDIA QUERIES------------------------------------------- */
@media(min-width:992px){
.container_navBar{
    display: none;
}
.container_NavBarVertical{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 125px;
    height: 100%;
    background: #000;
    z-index: 1001;
}
.logo_Vertical{
    width: 100%;
    height:21%;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.logo_Vertical img{
    width: 116px;
    display: flex;
    position: relative;
    z-index: 1002;
    margin-top:1.5em;
}

.container_verticalIcons{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    top:10%;
}

.container_verticalIcons button{
    background-color:#000;
    border:none;
}

.container_verticalIcon button:focus{
    outline: none;
}

.shop_Icon{
    width:100%;
    height: 15%;
    justify-content:center;
    position: relative;
    align-content: center;
   
    align-items: center;
    margin:0 auto;
}

.shop_Icon button:focus{
    outline:none;
}

.shop_Icon img{
    width:30%;
    display:flex;
    position: relative; 
}

.cart_Icon{
    width:100%;
    height: 15%;
    justify-content:center;
    position: relative;
    align-content: center;
    
    align-items: center;
    margin:0 auto;
}

.cart_Icon img{
    width:30%;
    display:flex;
    position: relative; 
}

.search_Icon{
    width:100%;
    height: 15%;
    justify-content:center;
    position: relative;
    align-content: center;
    
    align-items: center;
    margin:0 auto;
}

.profile_logueado{
    width:100%;
    height:15%;
    justify-content: center;
    position: relative;
    align-content: center;
    align-items: center;
    margin: 0 auto;
}
.profile_logueado img{
    width:45%;
    display:flex;
    position: relative;
    border-radius:50%;
}

.search_Icon img{
    width:26%;
    display: flex;
    position:relative;
}

.profile_Icon{
    width:100%;
    height: 15%;
    justify-content:center;
    position: relative;
    align-content: center;
    
    align-items: center;
    margin:0 auto;
}


.profile_Icon img{
    width:30%;
    display:flex;
    position: relative;
}

.help_Icon{
    width:100%;
    height: 15%;
    justify-content:center;
    position: relative;
    align-content: center;
    
    align-items: center;
    margin:0 auto;
    bottom:-6%;
}

.help_Icon img{
    width:23%;
    display:flex;
    position: relative;
}


.admin_Icon{
    width:100%;
    height: 15%;
    justify-content:center;
    position: relative;
    align-content: center;
   
    align-items: center;
    margin:0 auto;
}

.admin_Icon img{
    width:30%;
    display:flex;
    position:relative;
}

.titulos_iconos{
    margin-top: 5px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.8em;
    z-index: 1001;
    color: white;
}

}


/* ---- REGISTRO -- */
.registroMenu{
    height: 100vh;
    width: 40%; /*40*/
    position: fixed;
    display: none;
    z-index: 999;
    margin-left: 9%;
    background-color: rgba(19, 19, 19, 0.9);
    text-align: center;
    animation-name: registroSlider;
    animation-duration: 1s;
    overflow: hidden;
}
@keyframes registroSlider{
    from{left: -330px; opacity: 0;}
    to{left: 0px; opacity: 1;}
}
.inputs input{
    width: 40%;
    border: solid;
    border-color: #8400ff;
    border-bottom-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    margin-top: 0.5em;
    height: 2em;
    color: #c7c7c7;
}
.inputs input:focus{
    border-color: white;
}
.inputs{
    margin-top: 0.7em;
}
.inputs input::placeholder{
    color: gray;
    font-size: 1.1em;
    text-align: center;
}
.inputs label{
    font-size: 1.2em;
    
}
.smalls p{
    text-align: center;
    font-size: 0.87em;
}
.olvidepass a{
    margin-right: 25%;
    color: #c7c7c7;
    text-decoration: none;
}
.olvidepass a:hover{
    font-size: 1.1em;
}
.recordar{
    margin-right: 33%;
}
.errores{
    color: red;
}
.EnviarForm{
    width: 20%;
    margin-top: 2em;
    margin-right: 40%;  
    background-color: #8400ff;
    border-color: #8400ff;
}
.registroMenuContent{
    margin-top: 10%;
}
.cuenta{
    margin-left: 18%;
    margin-right: 17%;
    margin-top: 0.5em;
}
.cuenta a{
    text-decoration: underline;
    color: #c7c7c7;
    font-size: 0.9em;
}
.h2Registro{
    font-family:'neutra-bookalt';
    font-weight: bolder;
    margin-right:10px;
    margin-bottom: 1em; 
}
.imgX img{
    width: 20px;
    height: 20px;
    top: 20px;
    position:absolute;
    right:30px;
}
.imgX img:hover{
    opacity: 0.5;
}
.shop_display{
    width:40%;
    display:none;
    background-color:rgba(19,19,19,0.9);
    height: 100vh;
    position:fixed;
    z-index:1000;
    transition:0.5s;
    animation: searchSlider 1s ease-in-out;
}
.shop_display .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.categories{
    font-size:1.8vw;
    color:black;
    position:absolute;
    top:34%;
    width:78%;
    right:0px;
}

.categories li{
    width:100%;
    list-style-type: none;
    overflow:hidden;
    height: 22%;
    border-style:solid;
    border-color:rgb(15, 0, 19);
}

.shop_display button{
    float:none;
    width:30%;
    height:8%;
    position:relative;
    left:25%;
    top:20%;
    background-color:#000;
    border-radius:0;
    border:none
}

.shop_display button a{
    text-decoration: none;
    color: #fff;
}

.categories li:hover{
    box-shadow: inset 0px 0px 80px 27px rgba(237,216,237,1);

}
.categories img{
    width:100%;
    height:140%;
}

.categories li a{
    position:absolute;
    padding:3%;
    cursor: pointer;
    width:100%;
    height: 30%;
}
 .categories .teclado__ a{
    top:0;
    text-decoration:none;
    color:white;
 }
 .categories .mouse__ a{
    top:44%;
    color:white;
    text-decoration:none;

 }
 .categories .auriculares__ a{
    top:22%;
    color:white;
    text-decoration:none;
 }

 .categories .teclado__ a:hover{
    color:rgba(255, 255, 255, 0.534);
 }
 .categories .mouse__ a:hover{
    color:rgba(255, 255, 255, 0.534);
 }
 .categories .auriculares__ a:hover{
    color:rgba(255, 255, 255, 0.534);
 }


 /*--Busqueda--*/

 .search_display{
    position:fixed;
    background-color: rgb(32, 31, 31);
    height: 100vh;
    width:100%;
    display:none;
    z-index:999;
    transition:0.5s;
    animation: searchSlider 1s ease-in-out;
    overflow:scroll;
 }

 @keyframes searchSlider{
    from{left: -330px; opacity: 0;}
    to{left: 0px; opacity: 1;}
 }


 .search_display input{
    display: flex;
    position: relative;
    top: 10%;
    width: 55%;
    height: 10vh;
 }

 

 .search_container{
     position: relative;
     top:15%;
     display:flex;
     margin-left:15%;
     width:80%;
     height:70%;
 }

 .search_container ul{
    width:90%;
    list-style-type: none;
    display:flex;   
    flex-wrap:wrap;
    width: 100%;
 }

 .search_container li{
     width:27%;
     height: 30%;
 }

 .search_container img{
     width:100%;
 }

 .search_container p{
     position: absolute;
     width:27%;
     top: 32%;
     font-size: 2vw;
     color: #fff;
     background-color: rgba(34, 33, 33, 0.534)
 }

 .search_container .search_a{
     top:82%;
 }

 .search__{
    width:75%;
    margin:0 auto;
    display:flex;
    position: relative;
    top:5vh;
    height:15vh;
    justify-content: center;
    align-items: center;

}

.search__ button{
    width:5%;
    height:67%;
    position: relative;
    float: none;
    background-color:#535353;
    border-radius:inherit;
    border:none;
    top:10%;
    border: 2px solid #7A7A7A;  

}

input[type=search] { 	
	border: 2px solid #7A7A7A;  
	background: #535353;         
}



/* ---- Slider EditarPerfil LogOut cel ------ */


.sliderCelContent{
    width: 100%;
    margin-top: 7.6%;
    height: 30px;
    text-align: center;
    background-color: rgba(19, 19, 19, 0.9);
    display: none;
}
.sliderCelBody a{
    padding: 10%;
    text-transform: uppercase;
    color: #c7c7c7;
}


/*---- Perfil Display-----*/

.profile_display{
    width: 45%;
    height: 100vh;
    position: fixed;
    background-color:rgba(19, 19, 19, 0.9);
    display: none;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    animation: profileSlider 1s ease-in-out;
}
.__profile{
    justify-content: center;
    justify-items: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    position: relative;
    top:25%;
    margin-left: 20%;
}

.__profile img{
    width: 40%;
    height: 50%;
    position: relative;
    top:-10%;
    border-radius:50%;

}

.__profile p{
    top: -5%;
    position: relative;
    font-size:1.7vw;
}


.perfil_buttons{
    position: relative;
    top:10%;
}

@keyframes profileSlider{
    from{left: -330px; opacity: 0;}
    to{left: 0px; opacity: 1;}
 }
 
 @media(max-width:768px){
    .categories{
        width: 72%;
        right: 15%;
    }
    .shop_display button{
        position: relative;
        left: 32%;
        top: 13%;
    }
 }
 @media(max-width:425px){
     .categories{
         width: 100%;
         right: 0;
     }
 }
 
 /*----- Busqueda Responsive-----*/
 .__search{
     width: 100%;
     height: 23%;
     position:fixed;
     display:none;
     z-index:999;
     animation: _searchSlider 0.5s ease-in-out;
     background-color: #7A7A7A;
 }


 @keyframes _searchSlider{
    from{top: -330px; opacity: 0;}
    to{top: 0px; opacity: 1;}
 }
 .__search__{
     position: relative;
     margin-top:85px;
     display:flex;
     align-items: center;
     justify-items:center;
 }

 .__search__ button{
     width:5%;
     margin:0;
     height:7vh;
     border-radius:0;
     background-color:#7A7A7A;
     border:0;
}

.__search__ input{
    width:90%;
    height:7vh;

}

 


 @media(max-width:768px){
    .categories{
        width: 72%;
        right: 15%;
    }
    .shop_display button{
        position: relative;
        left: 32%;
        top: 13%;
    }
 }
 @media(max-width:425px){
     .categories{
         width: 100%;
         right: 0;
     }
 }
