
 .productsMTA{
    height: 33%;
    display: flex;
    width: 70%;
    position: relative;
    flex-wrap: wrap;
    top: 3em;
 }
 .productMTA{
     margin-left: 3em;
     border: solid;
     margin-bottom: 3em;
 }
 .productMTA img{
     height: 10em;
     width: 16em;
    
 }
 .h1MTA{
     text-align: center;
 }
 .pagination{
     position: relative;
     top: 1em;
     left:40%;
 }